<!doctype html>
<html ng-app>
  <head>
    <title>Photo Detail</title>
  </head>
  <body>
    <h1>Photo Detail</h1>
    {% if data %}
        <h4>Post: {{ data.post}}</h4>
        <h4>Owner: {{ data.owner}}</h4>
        <h4>image: <br/> <img src="{{ data.image }}" width="500"/></h4>
    {% else %}
    <p>No data available</p>
    {% endif %}
  </body>
</html>